<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kaymo1990-001-site1.gtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://kaymo1990-001-site1.gtempurl.com:8172/MsDeploy.axd?site=kaymo1990-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>kaymo1990-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\kaymo1990-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MoviesDBEntities" Order="1" Enabled="False">
          <Destination Path="&quot;Data Source=SQL6007.site4now.net;Initial Catalog=DB_A4E0B8_kaymo1990;User Id=DB_A4E0B8_kaymo1990_admin;Password=Khurram2!;&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MovieApp.Models.MoviesDBEntities, MovieApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MoviesDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MoviesDBModel.csdl|res://*/Models.MoviesDBModel.ssdl|res://*/Models.MoviesDBModel.msl;provider=System.Data.SqlClient;provider connection string='"Data Source=SQL6007.site4now.net;Initial Catalog=DB_A4E0B8_kaymo1990;User Id=DB_A4E0B8_kaymo1990_admin;Password=Khurram2!;"'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>